body, #darkPost-textArea {
    background-color: #4A4A4A;
    color: #F1EFEF;
}

#darkPost-textArea {
    width: 100%;
    padding: 20px;
    height: calc(100vh - 100px);
    display: block;
    border: 2px solid #F1EFEF;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
}

#darkPost-wordCounter {
    height: 50px;
    position: relative;
    width: 48%;
    border: 1px solid #F1EFEF;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
}

#darkPost-button {
    float: right;
    clear: both;
    width: 48%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
